.current {
    display: flex;
}

.asd {
    flex: 1;
    border: 1px solid black;
    
}

.pointbench {
    font-size: 12px;
    margin-right: auto;
}

.transfersandcost{
    font-size: 12px;
    margin-right: auto;
} 

.teamvalue {
    font-size: 12px;
    margin-right: auto;
}

.bank {
    font-size: 12px;
    margin-right: auto;
}

.rank {
    font-size: 12px;
    margin-right: auto;
}

.points {
    font-size: 12px;
    margin-right: auto;
}

.totpoints{
    font-size: 12px;
    margin-right: auto;
}

.chart {
    max-width: 1332px;
  
    .axis {
      .line {
        stroke: grey;
      }
      .tick {
        stroke: grey;
      }
    }
  
    .some-x-axis {
      .text {
          text-anchor: start;
          transform: rotate(45deg);
      }
      .title {
        transform: translatey(2em);
      }
    }
      
    .series.some-series {
      stroke: green;
      stroke-width: 2px;
  
      text {
        stroke: none;
        stroke-width: 1px;
      }
    }
  
    .series.bar-chart {
      stroke-width: 30px;
    }
  }

html {

}
body {
    padding: 1em;
}